.main-content {
    width: 1200px;
    background-color: rgba(100, 140, 150, 0.8);
}
.category-column {
    background-color: rgba(100, 140, 150, 1);
}
.list-category a:hover {
    text-decoration: none;
    border-bottom: 2px solid #0f0;
}