.presentation {
    width: 600px;
}
.main-header {
    height: 450px;
    background: url("../imgs/main-header-wall.jpg") no-repeat;
    background-size: cover;
    margin-top: -30px;
}
.notice {
    font-size: 0.9em;
}